 .cloudparent{
    padding: 0px;
 }
 #cloudcontainer{
    height: 50vh;
    position: relative;
    background-color: blue;
    overflow: hidden;
 }
 .cloud{
    width: 200px;
    height: 80px;
    background-color: white;
    position: absolute;
    border-radius: 40px;
}
.cloudBubble1{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: 30px;
}
.cloudBubble2{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    top: -30px;
    right: 30px;
}