*{
    padding: 0px;
    margin: 0px;
}

.projects {
    padding: 40px 20px;
    background: linear-gradient(#00c3ff, black);
    color: white;

}
.projects a{
    color: red;
}

.project-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project {
    background-color: black;
    color: white;
    border-radius: 30px;
    border: 3px solid red;
    padding: 15px;
    width: 300px;
    transform-style: preserve-3d;  
}

.projectHeading{
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.glass{
    inset: 5px;
    border-radius: 60px;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    border-top: solid 1px white;
    padding: inherit;
    transform-style: preserve-3d;
    text-align: -webkit-center;
}

.stopWatchBody{
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: green;
    border: solid 4px silver;
    border-radius: 40px;
    width: 150px;
    height: 100px;
}

#stopwatch{
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
}
.hero{
    text-align: center;
    background: linear-gradient(grey, white);
    margin: 5px;
    padding: 5px
}
